.carousel-item:before {
    -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.carousel-caption > a {
    color: white;
}

#mainCarousel{
    display: none;
}
.scroll {
    overflow-y: auto;
}
#browse_upcoming:focus {
    outline: none!important;
    box-shadow: none;
}
#upcoming {
    max-height: inherit;
}
@media (min-width: 768px) {
    #mainContent {
        max-height: 768px;
    }
}