.eachMovie > img {
    margin-top: 20px;
}
.modal-img{
    margin-bottom: 5px;
}
.img-button {
    padding: 0;
    background-color: #212529;
    border: none;
}
.img-button:focus {
    outline: none;
}
.img-button:hover {
    outline: 1px solid white;
}
.visit-link:hover {
    cursor: pointer;
}