.review-block{
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
}
.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}
.bold {
    font-weight: 700;
}
.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.review-block-name{
    font-size:1.25rem;
    margin:10px 0;
}
.review-block-date{
    font-size:0.9rem;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:1.1rem;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:0.9rem;
}
.review-block > hr {
    background-color: white;
}
.review-rating {
    font-size: 0.93rem;
    display: inline-block;
    font-weight: 500;
}
.review-count {
    font-size: 0.93rem;
    font-weight: 200;
}
.btn.btn-link:focus{
    outline: none;
    box-shadow: none;
}
.btn.btn-link{
    text-decoration: none;
}
.btn.btn-link:hover{
    text-decoration: underline;
}