{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/movie-cards.css' %}">
    <style>
        .dropdown-label {
            float: left;
            display: block!important;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="container">
        <div class="row">
            <form class="form-inline w-100" method="POST" action="/search/">
                {% csrf_token %}
                <div class="col-12">
                    <div class="row align-items-center mt-4">
                        <div class="col-xl-11 col-10 pr-1">
                            <input type="text" id="query_string" class="form-control w-100" name="name" value="{{search_form.name|default:''}}">
                        </div>
                        <div class="col-xl-1 col-2 pl-0">
                            <button type="submit" id="submit_form" class="btn btn-primary w-100">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mt-3 text-light">
                        <div class="col">
                            <label class="dropdown-label mb-2">Genre: -</label>
                            <select class="form-control w-100" id="genre-item" name="genre">
                                {% if search_form.genre and search_form.genre in movie_genres %}
                                    <option value="any">All</option>
                                {% else %}
                                    <option selected value="any">All</option>
                                {% endif %}
                                {% for genre in movie_genres %}
                                    {% if search_form.genre and search_form.genre == genre %}
                                        <option selected value="{{genre|lower}}">{{genre|lower|capfirst}}</option>
                                    {% else %}
                                        <option value="{{genre|lower}}">{{genre|lower|capfirst}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>                            
                        </div>
                        <div class="col">
                            <label class="dropdown-label mb-2">Rating: -</label>
                            <select class="form-control w-100" name="rating">
                                {% if search_form.rating and search_form.rating == "0" %}
                                    <option selected value="0">All</option>
                                {% else %}
                                    <option value="0">All</option>
                                {% endif %}
                                {% for i in "x"|rjust:"4"|make_list %}
                                    {% if search_form.rating and search_form.rating == forloop.counter|stringformat:"i" %}
                                        <option selected value="{{forloop.counter}}">{{forloop.counter}}+</option> 
                                    {% else %}
                                        <option value="{{forloop.counter}}">{{forloop.counter}}+</option> 
                                    {% endif %}   
                                {% endfor %} 
                            </select>
                        </div>
                        <div class="col">
                            <label class="dropdown-label mb-2">Start Date: -</label>
                            <input type="date" class="form-control" name="date_start" value = "{{search_form.date_start|default:''}}"/>
                        </div>
                        <div class="col">
                            <label class="dropdown-label mb-2">End Date: -</label>
                            <input type="date" class="form-control" name="date_end" value = "{{search_form.date_end|default:''}}"/>
                        </div>
                        <div class="col">
                            <label class="dropdown-label mb-2">Languages: -</label>
                            <select class="form-control w-100" name="language">
                                {% if search_form.genre and search_form.language in movie_languages %}
                                    <option value="any">All</option>
                                {% else %}
                                    <option selected value="any">All</option>
                                {% endif %}
                                {% for language in movie_languages %}
                                    {% if search_form.language and search_form.language == language %}
                                        <option selected value="{{language|lower}}">{{language|lower|capfirst}}</option>
                                    {% else %}
                                        <option value="{{language|lower}}">{{language|lower|capfirst}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mt-5" id="movie-grid">
        {% if searched_movies|length > 0 %}
            {% for movie in searched_movies %}
                <div class="col-md-4 col-sm-6 col-lg-3 eachMovie">
                    <div style="text-align: center;">
                        <button data-toggle="modal" data-target="#movie_{{movie.id}}" type="button" class="img-button">
                            <img src="{{movie.poster_link}}" class="img-fluid each_img round-corners mb-2" id="img_1">
                        </button>
                        <a href="{% url 'movie' movie.id %}" class="text-light mb-4 h5 visit-link">{{ movie.name|title }}</a></p>
                    </div>
                    <div class="modal fade" id="movie_{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content col-sm-12">
                                <div class="row pt-4">
                                    <div class="col-sm-6 moviePosterInModal" style="text-align: center;">
                                        <a href="{{movie.trailer_link}}"><img src="{{movie.poster_link}}" class="img-fluid round-corners modal-img"></a>
                                        <a href="{% url 'movie' movie.id %}" class="mb-4 h6 visit-link">Visit Page</a></p>
                                    </div>
                                    <br>
                                    <div class="col-sm-6 movieDetails">
                                        <div class="movieName"><a href="{% url 'movie' movie.id %}"><h5>{{movie.name|title}}</h5></a></div><br>
                                        <div class="linkToTrailer">
                                            <a href="{{movie.trailer_link}}"><i class="fas fa-play"></i>&nbspPlay trailer</a>
                                        </div><br>
                                        <div class="release">Release Date:  {{movie.release_date}}</div><br>
                                        <div class="overview">{{movie.synposis|truncatewords:25}}...</div><br>
                                        {% if movie.rating != 0 %}
                                            <div class="rating"><em><strong>Rating: {{movie.rating}}/5</strong></em></div><br>
                                        {% else %}
                                            <div class="rating"><em><strong>Rating: Unrated</strong></em></div><br>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}	
        {% else %}
            <h4 class="text-light mx-auto"><i>No results found</i></h4>
        {% endif %}
            	
        </div>
    </div>
{% endblock content %}
